<!DOCTYPE html>
<html lang="es">

<head>
    <title>Plataforma | Términos y Condiciones</title>

    <meta name="keywords" content="Template ReachMx" />
    <meta name="keywords" content="Plantilla ReachMx" />

    <meta name="description" content="Template Plataforma" />
    <meta name="description" content="Plantilla de plataforma ReachMx" />

    <meta name="responsive" content="no-cache" http-equiv="Cache-Control" />
    <meta name="responsive" content="charset=UTF-8" http-equiv="Content-Type" />

    <meta name="viewport" content="maximum-scale=1, user-scalable=no, width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />

    <link rel="stylesheet" href="/css/toastr.min.css" />
    <link rel="stylesheet" href="/css/chartJS/Chart.css" />
    <link rel="stylesheet" href="/css/chartJS/Chart.min.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap/buttons.bootstrap4.min.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-table.min.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-switch-button.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-switch-button.min.css" />

    <link rel="stylesheet" href="/system/dataTable/datatables.min.css" />
    <link rel="stylesheet" href="/system/dataTable/datatables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="/css/bootstrap/responsive.bootstrap4.min.css" />

    <link rel="stylesheet" href="/system/adminLTE/css/ionicons.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/css/adminlte.min.css" />

    <link rel="stylesheet" href="/system/adminLTE/plugins/jquery/css/jqvmap.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/jquery/css/jsgrid.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/jquery/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/jquery/css/jquery-ui.theme.min.css" />

    <link rel="stylesheet" href="/system/adminLTE/plugins/bootstrap/css/bootstrap-duallistbox.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/bootstrap/css/bootstrap-colorpicker.min.css" />

    <link rel="stylesheet" href="/system/adminLTE/plugins/chart/css/Chart.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/pdfmake/pdfmake.min.js" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/toastr/css/toastr.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/dropzone/css/dropzone.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/fullcalendar/css/main.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/summernote/css/summernote.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/bs-stepper/css/bs-stepper.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/ekko-lightbox/css/ekko-lightbox.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/sweetalert2/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/summernote/css/summernote-bs4.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/select2/css/select2-bootstrap4.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/daterangepicker/css/daterangepicker.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <link rel="stylesheet" href="/system/adminLTE/plugins/tempusdominus/css/tempusdominus-bootstrap-4.min.css" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/navbar.css" />

    <script src="/js/popper/popper.js"></script>
    <script src="/js/sweetalert2/sweetalert2.js"></script>
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
</head>

<body class="sidebar-mini-md layout-fixed control-sidebar-slide-open">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navbar-icon-menu" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown user-menu">
                    <a href="" class="nav-link dropdown-toggle nav-drop-img" data-toggle="dropdown">
                        <img src="/resources/img/usuario.jpg" class="user-image img-circle elevation-2" alt="Imagen Usuario" />
                        <span class="d-none d-md-inline">Héctor López</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px">
                        <li class="user-header bg-primary">
                            <img src="/resources/img/usuario.jpg" class="user-image img-circle elevation-2" alt="Imagen Usuario Dropdown" />
                            <p class="text-capitalize">Héctor López <small>Gerente Logística</small></p>
                        </li>
                        <li class="user-footer d-flex justify-content-between">
                            <a href="/aplication/perfil.html" class="btn btn-default">Perfil</a>
                            <a href="https://www.reachmx.com/" class="btn btn-default ml-auto">Cerrar Session</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
            <a href="https://www.reachmx.com/" class="brand-link">
                <img src="/resources/svg/tu_logo_icon.svg" class="brand-image" alt="Logo Empresa" />
                <span class="brand-text font-weight-light"> <img src="/resources/svg/tu_logo.svg" class="brand-imagen img-fluid img-sm" alt="Nombre Empresa" />&nbsp; </span>
            </a>
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-compact nav-collapse-hide-child" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/index.html" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p class="nav-titles">Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-archive"></i>
                                <p class="nav-titles">Proyectos<i class="fas fa-angle-left right"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/aplication/proyectos-nuevo.html" class="nav-link">
                                        <i class="nav-icon fas fa-plus"></i>
                                        <p class="nav-titles">Nuevo</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/aplication/proyectos-todos.html" class="nav-link">
                                        <i class="nav-icon fas fa-record-vinyl"></i>
                                        <p class="nav-titles">Todos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/aplication/proyectos-activos.html" class="nav-link">
                                        <i class="nav-icon fas fa-record-vinyl"></i>
                                        <p class="nav-titles">Activos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/aplication/proyectos-concluidos.html" class="nav-link">
                                        <i class="nav-icon fas fa-record-vinyl"></i>
                                        <p class="nav-titles">Concluidos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/aplication/proyectos-eliminados.html" class="nav-link">
                                        <i class="nav-icon fas fa-record-vinyl"></i>
                                        <p class="nav-titles">Eliminados</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/aplication/proyectos-mis-asignados.html" class="nav-link">
                                        <i class="nav-icon fas fa-record-vinyl"></i>
                                        <p class="nav-titles">Mis proyectos asignados</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/aplication/proyectos-mis-concluidos.html" class="nav-link">
                                        <i class="nav-icon fas fa-record-vinyl"></i>
                                        <p class="nav-titles">Mis proyectos concluidos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/aplication/asesores.html" class="nav-link">
                                <i class="nav-icon fas fa-id-card-alt"></i>
                                <p class="nav-titles">Asesores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/aplication/clientes.html" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p class="nav-titles">Clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/aplication/productos.html" class="nav-link">
                                <i class="nav-icon fas fa-boxes"></i>
                                <p class="nav-titles">Productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/aplication/proveedores.html" class="nav-link">
                                <i class="nav-icon fas fa-city"></i>
                                <p class="nav-titles">Proveedores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/aplication/cotizaciones.html" class="nav-link">
                                <i class="nav-icon fas fa-file-invoice-dollar"></i>
                                <p class="nav-titles">Cotizaciones</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/aplication/agentes-carga.html" class="nav-link">
                                <i class="nav-icon fas fa-dolly-flatbed"></i>
                                <p class="nav-titles">Agentes carga</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/aplication/agencias-aduanales.html" class="nav-link">
                                <i class="nav-icon fas fa-route"></i>
                                <p class="nav-titles">Agencias aduanales</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="sidebar-custom">
                <nav>
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact nav-flat" role="menu">
                        <li class="nav-item">
                            <a href="/aplication/views/terminos_condiciones.html" class="nav-link active">
                                <i class="nav-icon fas fa-file-signature"></i>
                                <p class="nav-titles">Términos y condiciones</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/aplication/views/aviso_privacidad.html" class="nav-link">
                                <i class="nav-icon fas fa-file-archive"></i>
                                <p class="nav-titles">Aviso de privacidad</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="h1-title">Términos y condiciones</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/index.html">Inicio</a></li>
                                <li class="breadcrumb-item active">Términos y condiciones</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0">
                            <div class="card m-0" style="border: 0; border-radius: 0; box-shadow: none">
                                <div style="padding: 2rem; text-align: justify;">
                                    <h5 class="title-color">INTRODUCCIÓN</h5>
                                    <p>
                                        A los Usuarios, les informamos que los siguientes Términos y Condiciones les son aplicables por el simple uso o acceso a cualquiera de las páginas, aplicaciones web y móviles, softwares y, aplicaciones en general, que integran el Portal de
                                        <a
                                            href="https://www.reachmx.com">www.reachmx.com</a> (en adelante y, conjunta e indistintamente, el "Portal"), por lo que entenderemos que los acepta y acuerda en obligarse a su cumplimiento. <strong>En el caso de que no esté de acuerdo con los Términos y Condiciones deberá abstenerse de acceder o utilizar el Portal.</strong>
                                            <br><br> Reachmx Trade Solutions SAPI de CV y/o sus subsidiarias, controladoras, partes relacionadas y afiliadas (en adelante y, conjunta e indistintamente, la “Empresa”) se reservan el derecho de modificar
                                            discrecionalmente el contenido del Portal en cualquier momento, sin necesidad de previo aviso.
                                            <br><br> El Usuario, entendido como aquella persona que realiza el uso o accede al Portal, mediante equipo de cómputo y/o cualquier equipo de comunicación o dispositivo (en adelante el “Usuario”), conviene en
                                            no utilizar dispositivos, software, o cualquier otro medio tendiente a interferir tanto en las actividades y/u operaciones del Portal, en las bases de datos y/o información que se contenga en el mismo.
                                    </p>
                                    <h5 class="title-color">1. USO Y RESTRICCIONES.</h5>
                                    <p>
                                        El acceso o utilización del Portal expresan la adhesión plena y sin reservas del Usuario a los presentes Términos y Condiciones. A través del Portal, el Usuario se servirá, contratará y/o utilizará diversos servicios y contenidos (los "Servicios y Contenidos"),
                                        puestos a disposición por la Empresa. La Empresa tendrá el derecho a negar, restringir o condicionar al Usuario el acceso al Portal, total o parcialmente, a su entera discreción, así como a modificar los Servicios
                                        y Contenidos del Portal en cualquier momento y sin necesidad de previo aviso.
                                        <br><br> El Usuario reconoce que no todos los Servicios y Contenidos están disponibles en todas las áreas geográficas y que algunos Servicios y Contenidos pueden ser utilizados solamente con posterioridad a su contratación,
                                        activación o registro previo por el Usuario y/o mediante el pago de estos. La Empresa no garantiza la disponibilidad y continuidad de la operación del Portal y de los Servicios y Contenidos, ni la utilidad del Portal
                                        o los Servicios y Contenidos en relación con cualquier actividad específica, independientemente del medio de acceso que utilice el Usuario. La Empresa no será responsable por daño o pérdida alguna de cualquier naturaleza
                                        que pueda ser causado debido a la falta de disponibilidad o continuidad de operación del Portal y/o de los Servicios y Contenidos.
                                        <br><br> El aprovechamiento de los Servicios y Contenidos en el Portal, es exclusiva responsabilidad del Usuario, quien en todo caso deberá servirse de ellos acorde a las funcionalidades permitidas en el propio
                                        Portal y a los usos autorizados en los presentes Términos y Condiciones, por lo que el Usuario se obliga a utilizarlos de tal modo que no contravengan las buenas costumbres, los derechos de terceros, las normas
                                        de uso y convivencia en Internet, las leyes de los Estados Unidos Mexicanos y, la legislación vigente en el país en que el Usuario se encuentre al acceder al Portal y usar los Servicios y Contenidos. El Portal es
                                        para el uso individual del Usuario por lo que no podrá comercializar de manera alguna los Servicios y Contenidos.
                                    </p>
                                    <h5 class="title-color">2. RESTRICCIONES.</h5>
                                    <p>
                                        El Usuario no tiene el derecho de colocar híper ligas dentro del Portal, a utilizar las ligas del Portal, ni el derecho de colocar o utilizar los Servicios y Contenidos en sitios o páginas propias o de terceros sin autorización previa y por escrito de
                                        la Empresa. El Usuario no podrá impedir a cualquier otro Usuario el uso del Portal ni de los Servicios y Contenidos.
                                    </p>
                                    <h5 class="title-color">3. PROPIEAD INTELECTUAL.</h5>
                                    <p>
                                        Los derechos de propiedad intelectual, propiedad industrial respecto de los Servicios y Contenidos, los signos distintivos y dominios de las Páginas o del Portal, así como los derechos de uso y explotación de estos, incluyendo de manera enunciativa más
                                        no limitativa, su divulgación, publicación, reproducción, distribución y transformación, son propiedad exclusiva de la Empresa. El Usuario no adquiere ningún derecho de propiedad intelectual y/o industrial por el
                                        simple uso o acceso de los Servicios y Contenidos del Portal y, en ningún momento, dicho uso será considerado como una autorización o licencia para utilizar los Servicios y Contenidos con fines distintos a los que
                                        se contemplan en los presentes Términos y Condiciones.
                                    </p>
                                    <h5 class="title-color">4. PROPIEDAD INTELECTUAL DE TERCEROS</h5>
                                    <p>
                                        El Usuario acuerda que las disposiciones que se establecen en el artículo 3 anterior respecto de la titularidad de los derechos de la Empresa, también son aplicables a los derechos de terceros respecto de los Servicios y Contenidos de las Páginas, dominios
                                        o información presentada o vinculada al Portal.
                                    </p>
                                    <h5 class="title-color">5. CALIDAD DE LOS SERVICIOS Y CONTENIDOS Y SUS GARANTÍAS.</h5>
                                    <p>
                                        Ni la Empresa, ni sus proveedores o socios comerciales, serán responsables de cualquier daño o perjuicio que sufra el Usuario a consecuencia de inexactitudes, consultas realizadas, asesorías, errores tipográficos y cambios o mejoras que se realicen periódicamente
                                        a los Servicios y Contenidos. Las recomendaciones y consejos obtenidos a través del Portal son de naturaleza general, por lo que no deben tomarse en cuenta en la adopción de decisiones personales ni profesionales.
                                        Para ello, se debe consultar a un profesional apropiado que pueda asesorar al Usuario de acuerdo con sus necesidades específicas.
                                        <br><br> La Empresa ofrece los Servicios y Contenidos con un nivel de competencia y diligencia razonable desde un punto de vista comercial, sin embargo, no ofrece ningún tipo de garantía en relación con estos. El
                                        Portal es proporcionado por la Empresa "tal como está" y "según disponibilidad". La Empresa no manifiesta ninguna representación o garantía de ningún tipo, expresa o implícita, en relación con la operación del Portal,
                                        información, contenido, materiales o productos incluidos. El Usuario acepta expresamente que el uso del Portal es bajo su propio riesgo. La Empresa se reserva el derecho a remover o eliminar cualquier información
                                        del Portal, en cualquier momento, a su entera discreción. Ni la Empresa, ni sus proveedores o distribuidores ofrecen garantías específicas sobre los Servicios y Contenidos; la Empresa excluye todas las garantías
                                        en la medida que las leyes vigentes lo permitan.
                                        <br><br> De conformidad con los Términos y Condiciones, la Empresa no asume ni asumirá ningún tipo de responsabilidad frente a ninguna persona, derivada o que pudiera derivarse por los Servicios y Contenidos, navegación
                                        en el Portal, consultas, aclaraciones y/o cualquier otra clase de respuesta otorgada por parte de la Empresa por cualquier medio de comunicación.
                                        <br><br> El Usuario se obliga a dejar en paz y a salvo a la Empresa, a sus accionistas, subsidiarias, afiliadas, funcionarios, directores, empleados, asesores, apoderados, representantes y/o cualquier persona relacionada
                                        con esta, de cualquier responsabilidad que pudiera imputarse en virtud y/o en relación con el Portal, la prestación de los Servicios y Contenidos o cualquier otro derivado de los presentes Términos y Condiciones.
                                        <br><br> El Usuario entiende y acepta que la Empresa se encontrará limitada por responsabilidad de cualquier tipo, en todos los casos, al monto pagado como contraprestación por los Servicios y Contenidos.
                                        <p style="margin-left: 4rem;">
                                            <strong>5.1 DEVOLUCIONES Y CANCELACIONES.</strong> Para seguridad de los Usuarios, en cualquier momento podrán cancelar los Servicios y Contenidos que adquieran en el Portal, a su entera discreción y sin responsabilidad
                                            alguna.
                                        </p>
                                        <p style="margin-left: 4rem;">
                                            <strong>5.2 ENVÍOS.</strong> La Empresa no será responsable de ninguna demora y/o incumplimiento respecto de los envíos realizados ni mediante terceros ajenos a la Empresa, el Usuario acepta los riesgos adjuntos
                                            y se sujeta a los Términos y Condiciones del proveedor de servicios encargado del envío.
                                        </p>
                                    </p>
                                    <h5 class="title-color">6. BIENES Y SERVICIOS DE TERCEROS ENLAZADOS.</h5>
                                    <p>
                                        El hecho de que se ofrezca información en el Portal o en otros sitios ligados o vinculados, no implica la recomendación, garantía, patrocinio o aprobación por parte de la Empresa respecto de dicha información, bienes y/o servicios. La disponibilidad de
                                        bienes y/o servicios ofertados por terceros o por sitios ligados o vinculados, no es responsabilidad de la Empresa. En virtud de lo anterior, la Empresa no será responsable ante cualquier autoridad de cualquier
                                        naturaleza, por cualquier asunto relacionado con la venta, consumo, distribución, entrega, disponibilidad o prestación con respecto de cualquiera de los bienes y/o servicios ofertados por terceros o por sitios ligados
                                        o vinculados a través del Portal.
                                        <br><br> Respecto de los Servicios y Contenidos que prestan terceros dentro o mediante enlaces a el Portal (tales como ligas, banners y botones), la Empresa se limita exclusivamente, para conveniencia del Usuario,
                                        a: (i) informar al Usuario sobre los mismos y, (ii) a proporcionar un medio para poner en contacto al Usuario con proveedores o vendedores. Los productos y/o servicios que se comercializan dentro del Portal y/o
                                        en los sitios de terceros enlazados son suministrados por comerciantes independientes y no se entenderá en ningún caso que son responsabilidad de la Empresa. No existe ningún tipo de relación laboral, asociación
                                        o sociedad, entre la Empresa y dichos terceros. Toda asesoría, consejo, declaración, información y contenido de las páginas de terceros enlazadas o dentro del Portal representan las opiniones y juicios de dicho
                                        tercero, consecuentemente, la Empresa no será responsable de ningún daño o perjuicio que sufra el Usuario a consecuencia de estos.
                                    </p>
                                    <h5 class="title-color">7. CONFIDENCIALIDAD</h5>
                                    <p>
                                        La Empresa se obliga a mantener confidencial la información que reciba del Usuario que tenga dicho carácter conforme a las disposiciones legales aplicables en los Estados Unidos Mexicanos; la Empresa no asume ninguna obligación de mantener confidencial
                                        cualquier otra información que el Usuario le proporcione.
                                    </p>
                                    <h5 class="title-color">8. USO DE LA INFORMACIÓN NO CONFIDENCIAL.</h5>
                                    <p>
                                        Mediante el uso del Portal, el Usuario autoriza a la Empresa, de manera enunciativa más no limitativa, a utilizar, publicar, reproducir, divulgar, comunicar públicamente y transmitir la información no confidencial, en términos de lo establecido en la
                                        Ley Federal de Protección de Datos Personales en Posesión de Particulares, en la Ley Federal de los Derechos de Autor, en la Ley Federal de Protección al Consumidor y en cualquiera otra aplicable en la legislación
                                        mexicana.
                                    </p>
                                    <h5 class="title-color">9. COOKIES</h5>
                                    <p>
                                        El Usuario que tenga acceso al Portal, conviene en recibir archivos que les transmitan los servidores de la Empresa. Una "Cookie" es un archivo de datos que se almacena en el disco duro de la computadora del Usuario cuando éste acceda al Portal. Dichos
                                        archivos pueden contener información tal como la identificación proporcionada por el Usuario o información para rastrear las páginas que el Usuario ha visitado. Una Cookie no puede leer los datos o información del
                                        disco duro del Usuario ni leer las Cookies creadas por otros sitios o páginas.
                                        <br><br> Generalmente, las Cookies son aceptadas automáticamente, el Usuario puede cambiar la configuración de su navegador en cualquier momento. En caso de que el Usuario decida rechazar las Cookies, es posible
                                        que ciertas secciones del Portal no tengan su funcionamiento óptimo o incluso no funcionen en absoluto.
                                    </p>
                                    <h5 class="title-color">10. AVISO DE PRIVACIDAD DE DATOS PERSONALES.</h5>
                                    <p>
                                        Toda la información que la Empresa recabe del Usuario es tratada con absoluta confidencialidad conforme las disposiciones legales aplicables en la legislación mexicana.
                                        <br><br> Para conocer más sobre la protección de sus datos personales por favor consulte nuestro Aviso de Privacidad.
                                    </p>
                                    <h5 class="title-color">11. CLAVES DE ACCESO.</h5>
                                    <p>
                                        En todo momento, el Usuario es el responsable único y final de mantener en secreto las claves de acceso que pudiera tener y con las cuales tuviera acceso a ciertos Servicios y Contenidos del Portal.
                                        <p>
                                            <strong>11.1 CUENTAS.</strong> El Usuario, al crear una cuenta en el Portal, declara, bajo protesta de decir verdad, que tiene como mínimo 18 años de edad o la mayoría de edad legal en su jurisdicción; el Usuario
                                            reconoce que es su responsabilidad cualquier actividad que se desarrolle con dicha cuenta o a través de ella y reconoce que tiene conocimiento y acepta las condiciones establecidas en los presentes Términos
                                            y Condiciones y en el Aviso de Privacidad.
                                        </p>
                                    </p>
                                    <h5 class="title-color">12. MODIFICACIONES</h5>
                                    <p>
                                        La Empresa tendrá el derecho de modificar, en cualquier momento, los Términos y Condiciones, sin previo aviso y/o consentimiento del Usuario. En consecuencia, el Usuario debe leer atentamente los Términos y Condiciones cada vez que pretenda utilizar el
                                        Portal. Ciertos Servicios y Contenidos ofrecidos a los Usuarios en y/o a través del Portal están sujetos a condiciones particulares propias que sustituyen, completan y/o modifican los presentes Términos y Condiciones.
                                        Consiguientemente, el Usuario también debe leer atentamente las correspondientes condiciones particulares antes de acceder a cualquiera de los Servicios y Contenidos.
                                    </p>
                                    <h5 class="title-color">13. LEYES APLICABLES Y JURISDICCIÓN.</h5>
                                    <p>
                                        Para la interpretación, cumplimiento y ejecución de los presentes Términos y Condiciones, el Usuario está de acuerdo en que serán aplicables las leyes Federales de los Estados Unidos Mexicanos y competentes los tribunales de Hermosillo Sonora, renunciando
                                        expresamente a cualquier otro fuero o jurisdicción que pudiera corresponderles debido a sus domicilios presentes o futuros o por cualquier otra causa.
                                    </p>
                                    <h5 class="title-color">14. CONTACTO.</h5>
                                    <p>
                                        El Usuario puede contactar, en todo momento, al personal de la Empresa para cualquier aclaración, comentario, duda y/o sugerencia relacionada con los Servicios y Contenidos, con el Portal y/o con los presentes Términos y Condiciones en legal@reachmx.com.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer class="main-footer">
        <strong><a target="_blank" href="https://reachmx.com">ReachMX&#174;</a></strong>
        <div class="float-right d-none d-sm-inline-block"></div>
    </footer>
    <script src="/js/global.js"></script>
    <script src="/js/mask/jquery.mask.js"></script>
    <script src="/js/popper/popper.min.js"></script>
    <script src="/js/toastr/toastr.min.js"></script>
    <script src="/js/mask/jquery.mask.min.js"></script>

    <script src="/js/chartJS/Chart.js"></script>
    <script src="/js/chartJS/Chart.min.js"></script>
    <script src="/js/chartJS/Chart.bundle.js"></script>
    <script src="/js/chartJS/Chart.bundle.min.js"></script>

    <script src="/js/bootstrap/bootstrap-table.js"></script>
    <script src="/js/bootstrap/bootstrap-table.min.js"></script>
    <script src="/js/bootstrap/bootstrap-table-export.js"></script>
    <script src="/js/bootstrap/bootstrap-table-export.min.js"></script>
    <script src="/js/bootstrap/bootstrap-table-locale-all.js"></script>
    <script src="/js/bootstrap/bootstrap-switch-button.min.js"></script>
    <script src="/js/bootstrap/bootstrap-table-locale-all.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="/system/dataTable/responsive/js/dataTables.responsive.min.js"></script>
    <script src="/system/dataTable/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/system/dataTable/responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/system/dataTable/jsZip/jszip.min.js"></script>
    <script src="/system/dataTable/pdfmake/vfs_fonts.js"></script>
    <script src="/system/dataTable/pdfmake/pdfmake.min.js"></script>
    <script src="/system/dataTable/buttons/js/buttons.print.min.js"></script>
    <script src="/system/dataTable/buttons/js/buttons.html5.min.js"></script>
    <script src="/system/dataTable/buttons/js/buttons.colVis.min.js"></script>
    <script src="/system/dataTable/buttons/js/buttons.bootstrap4.min.js"></script>

    <script src="/system/adminLTE/js/adminlte.min.js"></script>
    <script src="/system/adminLTE/plugins/chart/js/Chart.min.js"></script>
    <script src="/system/adminLTE/plugins/sparklines/sparkline.js"></script>
    <script src="/system/adminLTE/plugins/toastr/js/toastr.min.js"></script>
    <script src="/system/adminLTE/plugins/moment/js/moment.min.js"></script>
    <script src="/system/adminLTE/plugins/select2/js/select2.full.min.js"></script>
    <script src="/system/adminLTE/plugins/daterangepicker/js/daterangepicker.js"></script>

    <script src="/system/adminLTE/plugins/sweetalert2/js/sweetalert2.min.js"></script>
    <script src="/system/adminLTE/plugins/sweetalert2/js/sweetalert2.all.min.js"></script>

    <script src="/system/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/system/adminLTE/plugins/bootstrap/js/bootstrap-colorpicker.min.js"></script>
    <script src="/system/adminLTE/plugins/bootstrap/js/bootstrap-tempusdominus.min.js"></script>

    <script src="/system/adminLTE/plugins/summernote/js/summernote.min.js"></script>
    <script src="/system/adminLTE/plugins/summernote/js/summernote-bs4.min.js"></script>
    <script src="/system/adminLTE/plugins/summernote/js/summernote-lite.min.js"></script>

    <script src="/system/adminLTE/plugins/jquery/js/jquery.min.js"></script>
    <script src="/system/adminLTE/plugins/jquery/js/jquery-ui.min.js"></script>
    <script src="/system/adminLTE/plugins/jquery/js/jquery.knob.min.js"></script>
    <script src="/system/adminLTE/plugins/jquery/js/jquery.vmap.min.js"></script>
    <script src="/system/adminLTE/plugins/jquery/js/maps/jquery.vmap.world.js"></script>
    <script src="/system/adminLTE/plugins/jquery/js/jquery.overlayScrollbars.min.js"></script>
</body>

</html>